<section>
  <div id="problem">
    <div class="btn-wrapper">
      <button class="btn" (click)="rxjsBtn()">Показать с RxJs</button>
      <button class="btn" (click)="rxBtn()">Показать</button>
    </div>
    <div class="result" id="display"></div>
    <hr>
  </div>
  <div class="content" *ngIf="show">
    <div class="product"  *ngFor="let i of people | keys">
      <img [src]="people[i].img" [alt]="people[i].name">
      <h2>{{ people[i].name }}</h2>
      <p>{{ people[i].age }}</p>
      <button>View</button>
    </div>
  </div>
</section>


